.taskItem {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;

  .checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #ccc;

  }

  &.checked {
    p {
      text-decoration: line-through;
    }

    .checkbox {
      background-image: url(https://img.icons8.com/color/452/checkmark--v1.png)
    }
  }
}