@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 70px;
  text-align: center;
  margin-top: 100px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
