.modal {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 400px;
  margin: 0 auto;
	border: none;
  -webkit-box-shadow: 1px 5px 34px 10px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 5px 34px 10px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 5px 34px 10px rgba(34, 60, 80, 0.2);

  .taskInput {
    padding: 10px 0 10px 0px;
    text-align: center;
    font-size: 20px;
    border: none;
  }

  .tasks {
    border: 1px solid #ccc;
  }

  .modalFooter {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 3px 3px;
		border: none;
  }

  .taskFilters {
    display: flex;
    gap: 15px;

    .filterBtn {
      background-color: transparent;
      border: none;
      cursor: pointer;

      &.active {
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: 3px;
        padding: 3px 6px 3px 6px;
      }
    }
  }

  .count {
    font-size: 14px;
    margin-top: 2px;
  }
}
